/* Typography desktop */
h1 {
  font-size: var(--fontSizeDesktopL);
  font-weight: var(--fontNormal);
  line-height: var(--lineHeightsAuto);
  letter-spacing: 0em;
  text-align: left;
}
h2 {
  font-size: var(--fontSizeDesktopML);
  font-weight: var(--fontNormal);
  line-height: var(--lineHeightsAuto);
}
h3 {
  font-size: var(--fontSizeDesktopMd);
  font-weight: var(--fontNormal);
  line-height: var(--lineHeightsAuto);
}
h4 {
  font-size: var(--fontSizeDesktopSm);
  font-weight: var(--fontNormal);
  line-height: var(--lineHeightsAuto);
}
p {
  font-size: var(--fontSizeDesktopMd);
  font-weight: var(--fontNormal);
  line-height: var(--lineHeightsAuto);
}

/* .s {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.s-b {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.base {
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.xl-b-u {
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
} */

