---
const { link, variant } = Astro.props;
---

<a href={link} data-variant={variant}>
  <slot />
</a>

<style>
  a {
  }

  [data-variant="primary"] {
    background: var(--ctaPrimaryBgColor);
    color: var(--ctaPrimaryTextColor);
    text-decoration: none;
    border-radius: var(--ctaPrimaryBorderRadius);
    padding: 0.8rem 2rem;
    display: inline-block;
    font-weight: var(--fontNormal);
  }

  [data-variant="secondary"] {
<<<<<<< HEAD
    background: var(--ctaSecondaryBgColor);
    color: var(--ctaSecondaryTextColor);
    text-decoration: none;
    border: 0;
    border-radius: var(--ctaSecondaryBorderRadius);
    padding: 0.75rem 1.5rem;
    display: inline-block;
    font-weight: var(--fontNormal);
=======
    background: var(--secondary);
    color: gray;
    text-decoration: none;
    border: 0;
    border-radius: 999px;
    padding: 0.75rem 1.5rem;
    display: inline-block;
    font-weight: 600;
>>>>>>> 1f6c3f6d8af5119861d9222b8060f8139150e1b8
  }

  [data-variant="ghost"] {
    color: red;
    font-weight: bold;
    text-decoration: none;
  }
</style>
