---
const { icon, title, text} = Astro.props;
---

<div class="container">
   <div>
        <img src={icon} alt="">
    </div> 
   <div class="text_container">
        <h3>{title}</h3>
        <p>{text}</p>
   </div>
</div>

<style>
.container {
    height: 212px;
    width: 304px;
    border-radius: 33px;
    border-width: 1px;
    border: var(--black);
    padding: 8px;
    display: flex;
    justify-content: center; 
}
.container div {
    display: flex;
    justify-content: center;
}
.text_container {
    justify-content: center; 
    gap: 5px;
}
.text_container h3 {
    font-weight: var(--fontBold);
}
</style>